{% extends 'base.html' %} {% block page_title %}About{% endblock %} 
{% block  content %}

<div class="accordion" id="accordionAbout">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#What" aria-expanded="true"
          aria-controls="What">
          <h2>What is Family & Systemic Constellations About?</h2>
        </button>
      </h2>
    </div>

    <div id="What" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAbout">
      <div class="card-body">
        <p>
          Family Constellations differs from most talk therapies or coaching
          modalities in that it has large, non-verbal, body language-oriented
          components.
        </p>
        <p>
          Resolution of problems or issues happens in an experiential process
          that leads to liberation and healing. This working tool creates relief
          for the client and an improved state of being. Resolution of problems
          or issues happens in an experiential process that leads to liberation
          and healing.
        </p>
        <p>
          It is an approach which directly reaches the HEART OF THE MATTER
          within the family, social or business system – whether relating to
          physical.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#How"
          aria-expanded="false" aria-controls="How">
          <h2>How does Family & Systemic Constellations Work?</h2>
        </button>
      </h2>
    </div>
    <div id="How" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionAbout">
      <div class="card-body">
        <p>
          You are a system within a system. Understanding belonging, order,
          safety and security in the 'system' in which you live and operate
          supports you in functioning within all flow of life. The universal
          system supports all forms of life, including yours.
        </p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Why"
          aria-expanded="false" aria-controls="Why">
          <h2>
            Why is it important to look to the past within the system?
          </h2>
        </button>
      </h2>
    </div>
    <div id="Why" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAbout">
      <div class="card-body">
        <p>
          History repeats itself. Historical patterns lie in each system no
          matter the nature of a system.
        </p>
        <p>
          The biological DNA structure is historical imprinted historical
          evidence of the family of origin of each person.
        </p>
        <p>
          To create transformational changes within a system requires
          recognition of the patterns that require change and thus healing.
        </p>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Experience"
          aria-expanded="false" aria-controls="Experience">
          <h2>What is it like to experience a Family Constellation?</h2>
        </button>
      </h2>
    </div>
    <div id="Experience" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAbout">
      <div class="card-body">
        <p>
          The simplest way to describe a family constellation with
          representatives is that it is like watching a movie, a snippet, from
          your own family history. You watch your family dynamics unravel in a
          3D movie format enabling you to better understand the issue you are
          currently faced with or a topic you require better understanding.
        </p>
        <p>
          A healing shift is often experienced as a sense of relief and release.
          On a cellular level which helps create the shift in our lives so that
          we can heal unresolved issues (health, mental, emotional).
        </p>
        <p>It is a “therapy” session where you truly feel the results.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingFive">
      <h2 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#Sonja"
          aria-expanded="false" aria-controls="Sonja">
          <h2>More about Sonja</h2>
        </button>
      </h2>
    </div>
    <div id="Sonja" class="collapse" aria-labelledby="headingThree" data-parent="#accordionAbout">
      <div class="card-body">
        <p>
          Sonja Simak is the founder of Healing Point and started Family
          Constellations over 15 years ago.
        </p>
        <p>
          She is renowned Family & Systemic Constellations Facilitator and
          Trainer . Sonja, a gifted communicator, fluent in English, Afrikaans
          and German, eloquently and effortlessly brings a Family Constellation
          to life. She offers great insights into the into the process and her
          wisdom is apparent in every constellation she facilitates.
        </p>
        <p>
          Sonja has encountered many personal challenges during her life
          including meeting her birth father at the age of 53 to discover she
          has 5 siblings! Health issues such as head trauma from an accident as
          a child, to fibromyalgia and severe depression as an adult lead Sonja
          to working through her own life trauma’s and creating her healing
          path.
        </p>
        <p>
          <b>Sonja’s vision in a nutshell is:</b> “Healing pain on all levels –
          mental, emotional and physical. My vision for HealingPoint
          Constellations is to bring greater understanding of the orders of love
          into all communities so that wiser choices in life can be made by
          everybody.”
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}