{% extends 'base.html' %}
{% block page_title %}Courses{% endblock %}
{% block content %}
<h1>Courses</h1>
<div class="experience">
    <h2><u>The HealingPoint Experience</u></h2>
    <h3>This 6-week course will give you an introduction to Family Constellations.</h3>
    <p>Your mission should you choose to accept it, is the start of a journey that creates not only a deep core
        transformational healing shift for yourself, but adds a powerful skill to your current set of skills.</p>
    <p>Within six weeks, you will gain rapid insights into a transformational way of approaching even the most
        challenging
        problem, hurt or pain, either yours or your client’s. Through your own experiences in this program, you walk
        away
        with pearls of inner wisdom that will translate your current skill set to another level of expansion.</p>
    <p>This program includes an online experience that starts as soon as possible for you from date of commitment
        completion
        and a 2-day intensive practical experience.</p>
    <h4>Milestone: Bird's Eye View</h4>
</div>
<div class="accordion" id="accordionExperience">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#moduleOne"
                    aria-expanded="true" aria-controls="moduleOne">
                    <h5>Module 1: Expect the Unexpected</h5>
                </button>
            </h2>
        </div>
        <div id="moduleOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExperience">
            <div class="card-body">
                Introducing the concepts of systemic work
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#moduleTwo"
                    aria-expanded="false" aria-controls="moduleTwo">
                    <h5>Module 2: Life Links</h5>
                </button>
            </h2>
        </div>
        <div id="moduleTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExperience">
            <div class="card-body">
                Your journey starts here. Connect with your resource, your source of belonging. You are the link of
                source within and your life journey on this planet called Earth.
                Gaining insights through practical experience solidifies alignment between Mind, Body, Emotions and
                Spirit re-connects to all resources within and surround.
                You will learn how you can gain wider and in-depth information from the sub-conscious.
                You can gain access to unresolved issues in the family system, thereby identifying patterns that
                currently block your life from reaching it's full potential.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#moduleThree"
                    aria-expanded="false" aria-controls="moduleThree">
                    <h5>Module 3: The Journey</h5>
                </button>
            </h2>
        </div>
        <div id="moduleThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExperience">
            <div class="card-body">
                <b>Identify your Life's Purpose on a level of being.</b><br>
                You will find your answers by asking systems related questions. You will discover who you truly are
                and
                the position you hold in your current life through the discovery of the place you hold and the
                patterns
                you carry from your family system.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#moduleFour"
                    aria-expanded="false" aria-controls="moduleFour">
                    <h5>Module 4: The Experience</h5>
                </button>
            </h2>
        </div>
        <div id="moduleFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExperience">
            <div class="card-body">
                <b>2-day Practical experience</b><br>
                Each experience is uniquely individual, which cannot be translated into words from one person to
                another. You will experience healing on a profound level. Common consensus agrees that the healing
                from this work transcends beyond the now and even family members not part of your journey have
                commented to
                healing experiences within themselves. Your insights are transformational and will affect each area
                of your life in the most profound manner.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#moduleFive"
                    aria-expanded="false" aria-controls="moduleFive">
                    <h5>Module 5: The Discovery</h5>
                </button>
            </h2>
        </div>
        <div id="moduleFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExperience">
            <div class="card-body">
                <b>Evaluating transformational shifts</b><br>
                The Discovery lies in the uncovering of deeply rooted issues in the family dynamic faster, with more
                instant and effective insights allowing you to create greater transformational shifts in the work
                you do
                or with the clients you serve.
            </div>
        </div>
    </div>
</div>
<div class="experience">
    <h4>What does the 6-week HealingPoint EXPERIENCE entail?</h4>
    <ol>
        <li>ONE FREE Workshop Attendance (Value R790.00)</li>
        <li>Online Training Material for the Foundation of Family Constellations (Value R2970.00)</li>
        <li>2 days of Basic Training in the Foundation of Family Constellations 7&8 March - 10:00 am - 4:00 pm (Value
            R3500.00)</li>
        <li>1 FREE session with me (1on1 on any subject of your choice) after the 2 days Basic Training (Value R980.00)
        </li>
    </ol>
    <p>This program is an introduction to the Constellations works <b><u>ONLY</u>.</b></p>
    <p>The 6-week HealingPoint EXPERIENCE <b><u>does not</u></b> give you any qualifications to do this work in any
        ethical way.</p>
    <p>Investment: <b>R 3790.00</b> <br><small>(Value R 8240)</small></p>
</div>
<hr>
<div class="experience">
    <h2><u>Constellations Facilitator Training</u></h2>
    <h3>Learning to run your own Constellations</h3>
    <h4>Requirements:</h4>
    <ol>
        <li>The 6-week HealingPoint EXPERIENCE </li>
        <li>6-week HealingPoint SYSTEMS training</li>
        <li>8 Training Sessions (focused on Practical) over a One year period. </li>
        <li>Attendance and participation in 8 Open Workshops (part of the training requirement for SCASA (Systemic
            Constellations Association
            South Africa)
        </li>
    </ol>
    <p>Investment: <b>R 14970.00</b><br> <small>(R 14970 - R 3790 = (R 11180 once off or payment plan @ R1200
            monthly
            for 12 months)</small></p>
</div>
<hr>
<div class="experience">
    <h2><u>Advanced Facilitator Training - 2nd year</u></h2>
    <h3>Advanced training and specialisation in different areas</h3>
    <p>Second-year follows a similar schedule with more advanced training in a speciality of interest.</p>
    <h4>Requirements:</h4>
    <ol>
        <li>Completion - Facilitator training Course</li>
    </ol>
    <p>Basic Trauma Training is currently a pre-requisite as one speciality.</p>
    <h4>Advanced Training includes:</h4>
    <ul>
        <li>Relationship</li>
        <li>Systemic Advanced</li>
        <li>Trauma Advanced</li>
        <li>Healing<small>(Currently being developed)</small></li>
    </ul>
    <p>Investment: <small>Modules are priced individually and you can contact me personally for more information</small>
    </p>
</div>
{% endblock %}