{% extends 'base.html' %}
{% load static %}
{% block page_title %}Home{% endblock %}
{% block content %}
<h1>Life is complicated!</h1>
<div class="row h-p">
    <div class="col-md-6  col-lg-3  hp-text">
        <div class="word-wrap">Are you feeling disconnected from your friends and family?
        </div>
    </div>
    <div class="col-md-6  col-lg-3  img-style">
        <img class="hp-img" src="{% static 'img/sad-face.jpg' %}" alt="sad face">
    </div>
    <div class="col-md-6  col-lg-3   hp-text2-other">
        <div class="word-wrap-2" id='puzzle-text'>Family constellations may provide the insights and resolutions needed
            to bring your life back into flow!</div>
    </div>
    <div class="col-md-6  col-lg-3   img-style"><img class="hp-img" src="{% static 'img/puzzle.jpg' %}" alt="puzzle">
    </div>
    <div class="col-md-6  col-lg-3   img-style"><img class="hp-img" src="{% static 'img/male.jpg' %}" alt="male"></div>
    <div class="col-md-6  col-lg-3   hp-text-other">
        <div class="word-wrap">Are you in pain, but don't know where it's coming from?
        </div>
    </div>
    <div class="col-md-6  col-lg-3   img-style"><img class="hp-img" src="{% static 'img/girls.jpg' %}" alt="girls">
    </div>
    <div class="col-md-6  col-lg-3   hp-text2-other">
        <div class="word-wrap-2">Your relationships will be different and more relaxed and happy!</div>
    </div>
    <div class="col-md-6  col-lg-3   hp-text">
        <div class="word-wrap">Have you experienced some unresolved trauma?</div>
    </div>
    <div class="col-md-6  col-lg-3  img-style"><img class="hp-img" src="{% static 'img/baby.jpg' %}" alt="baby"></div>
    <div class="col-md-6  col-lg-3   hp-text2">
        <div class="word-wrap-2">You will feel less burdened and let go of old pain!</div>
    </div>
    <div class="col-md-6  col-lg-3    img-style"><img class="hp-img" src="{% static 'img/coffee-cup.jpg' %}"
            alt="coffee-cup">
    </div>
    <div class="col-md-6  col-lg-3   img-style"><img class="hp-img" src="{% static 'img/question.png' %}"
            alt="question"></div>
    <div class="col-md-6  col-lg-3   hp-text-other">
        <div class="word-wrap">Wondering what the next step is in your life?</div>
    </div>
    <div class="col-md-6  col-lg-3   img-style"><img class="hp-img" src="{% static 'img/family.jpg' %}" alt="family">
    </div>
    <div class="col-md-6  col-lg-3   hp-text2">
        <div class="word-wrap-2" id='family-text'>Your work and home environment will appear more easy-going and will
            appear to meet
            your needs more!</div>
    </div>
</div>
<div class="row justify-content-center ">
    <a href="{% url 'events'%}" type='button' id="book-now" class='hvr-pulse'>Book Today!</a>
</div>
{% endblock %}