{% extends 'base.html' %}
{% block page_title %}Events{% endblock %}
{% block content %}
<h1>Events</h1>
{% for event in events %}
{% if user.is_authenticated and event.event.category == 'Training'%} 
<div class="accordian" id="Eventaccordian_{{ event.id }}">
    <div class="card mb-3">
        <div class="row no gutters events-row">
            <div class="col-md-2">
                <div class="card-body date-group">
                    <ul class="list-group  dategroup-style">
                        <li class="list-group-item card-text month-style">
                            {{ event.date_start|date:"M" }}
                        </li>
                        <li class="list-group-item card-text date-style">{{ event.date_start|date:"j" }}</li>
                        <li class="list-group-item card-text day-style"><b>{{ event.date_start|date:"D" }}</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body event-info">
                    <ul class="list-group eventgroup-style">
                        <li class="list-group-item  card-title">{{ event.event.name }} - {{event.event.attendee }}</li>
                        <li class="list-group-item  card-text">@{{ event.location }}</li>
                        <li class="list-group-item  card-text">{{ event.event.description }}</li>

                        {% if date_start == date_end %}
                        <li class="list-group-item  card-text"><small
                                class="text-muted">{{ event.date_start|date:"M j" }} =>
                                {{ event.time_start|time:"H:i" }} - {{ event.time_end|time:"H:i" }}</small></li>
                        {% else %}
                        <li class="list-group-item  date-time"><small
                                class="text-muted">{{ event.date_start|date:"M j" }}
                                {{ event.time_start|time:"H:i" }} - {{ event.date_end|date:"M j" }}
                                {{ event.time_end|time:"H:i" }}</small></li>
                        {% endif %}
                        <button class="btn btn-info event-expand" type="button" data-toggle="collapse"
                            data-target="#description_{{ event.id }}" aria-expanded="false"
                            aria-controls="description">Make Booking
                        </button>
                </div>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div id="description_{{ event.id }}" class="collapse" aria-labelledby="headingOne"
            data-parent="#Eventaccordian_{{ event.id }}">
            <div class="card-body more-info">
                <p><b>Price: </b>R{{ event.event.price }}</p>
                <form method="post" action='{% url 'add_to_cart' event.id %}'>
                    {% csrf_token %}
                    <div class='input-group'>
                        <input name='quantity' type='number' min='0' max='{{ event.max_attendees }}'
                            class='form-control' placeholder='Number of attendees'>
                        <span class='input-group-btn'>
                            <button class='btn btn-success' type='submit'>Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% elif user.is_authenticated == False and event.event.category == 'Workshop' %}
<div class="accordian" id="Eventaccordian_{{ event.id }}">
    <div class="card mb-3">
        <div class="row no gutters events-row">
            <div class="col-md-2">
                <div class="card-body date-group">
                    <ul class="list-group  dategroup-style">
                        <li class="list-group-item card-text month-style">
                            {{ event.date_start|date:"M" }}
                        </li>
                        <li class="list-group-item card-text date-style">{{ event.date_start|date:"j" }}</li>
                        <li class="list-group-item card-text day-style"><b>{{ event.date_start|date:"D" }}</b></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-body event-info">
                    <ul class="list-group eventgroup-style">
                        <li class="list-group-item  card-title">{{ event.event.name }} - {{event.event.attendee }}</li>
                        <li class="list-group-item  card-text">@{{ event.location }}</li>
                        <li class="list-group-item  card-text">{{ event.event.description }}</li>

                        {% if date_start == date_end %}
                        <li class="list-group-item  card-text"><small
                                class="text-muted">{{ event.date_start|date:"M j" }} =>
                                {{ event.time_start|time:"H:i" }} - {{ event.time_end|time:"H:i" }}</small></li>
                        {% else %}
                        <li class="list-group-item  date-time"><small
                                class="text-muted">{{ event.date_start|date:"M j" }}
                                {{ event.time_start|time:"H:i" }} - {{ event.date_end|date:"M j" }}
                                {{ event.time_end|time:"H:i" }}</small></li>
                        {% endif %}
                        <button class="btn btn-info event-expand" type="button" data-toggle="collapse"
                            data-target="#description_{{ event.id }}" aria-expanded="false"
                            aria-controls="description">Make Booking
                        </button>
                </div>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
        </div>
        <div id="description_{{ event.id }}" class="collapse" aria-labelledby="headingOne"
            data-parent="#Eventaccordian_{{ event.id }}">
            <div class="card-body more-info">
                <p><b>Price: </b>R{{ event.event.price }}</p>
                <form method="post" action='{% url 'add_to_cart' event.id %}'>
                    {% csrf_token %}
                    <div class='input-group'>
                        <input name='quantity' type='number' min='0' max='{{ event.max_attendees }}'
                            class='form-control' placeholder='Number of attendees'>
                        <span class='input-group-btn'>
                            <button class='btn btn-success' type='submit'>Add</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% if is_paginated %}

    {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
{% endblock %}