{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head_js %}
<script type='text/javascript' src='https://js.stripe.com/v2/'></script>
<script type='text/javascript'>
    //<![CDATS[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type='text/javascript' src="{% static 'js/stripe.js' %}"></script>
{% endblock  %}
{% block content %}
<div class='row row-flex'>
    {% for item in cart_items %}

    <div class='col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 panel-display'>
        <div class='panel-body'>
            <h3>{{ item.event.event.name }}</h3>
            <p>@ {{ item.event.location }}</p>
            {% if item.event.date_start == item.event.date_end %}
            <p class='event-date'>Date: {{ item.event.date_start }}</p>
            {% else %}
            <p class='event-date'>Date: {{ item.event.date_start }} - {{item.event.date_end}}</p>
            {% endif %}
            <p class='event-time'>Time: {{ item.event.time_start }} - {{ item.event.time_end }}</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class='row tally-box no-gutters'>
    <p>Total</p>
    <p>R {{ total }}</p>
</div>
{% if user.is_authenticated and total == 0 %}
<form role='form' method='post' id="payment-form" action="{% url 'checkout' %}">
    <legend>
        <h3>Booking details:</h3>
    </legend>
    <div id='credit-card-errors' style='display:none'>
        <div class='alert-message block-message error' id='stripe-error-message'>
        </div>
    </div>
    {% csrf_token %}    
    <div class="row">
        <div class='form-group col-md-5'>            
            {{ booking_form|crispy }}
        </div>
    </div>
    <button class="btn btn-info" type='submit'> Book your place</button>
</form>
{% else %}
<form role='form' method='post' id="payment-form" action="{% url 'checkout' %}">
    <legend>
        <h3>Booking details:</h3>
    </legend>
    <div id='credit-card-errors' style='display:none'>
        <div class='alert-message block-message error' id='stripe-error-message'>
        </div>
    </div>
    {% csrf_token %}    
    <div class="row">
        <div class='form-group col-md-5'>            
            {{ booking_form|crispy }}
        </div>
    </div>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ publishable }}"
          data-description="HealingPoint Constellations R{{total}}"
          data-amount="{{ amount }}"
          data-locale="auto"></script>       
</form>
{% endif %}
{% endblock content %}