@import url('https://fonts.googleapis.com/css?family=Lato|News+Cycle|Oswald&display=swap');

/* font-family: 'News Cycle', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lato', sans-serif; */
/*
Primary colour: #107A7A
Dark/ Text: # 191820
Light/ Text: #EBEBEA
Background: #6DA3B1
Accents: #606E79
*/
body {
    font-family: 'News Cycle', sans-serif;
    color: #191820;
    background: rgb(235, 235, 234);
    background: radial-gradient(circle, rgba(235, 235, 234, 1) 15%, rgba(109, 163, 177, 1) 71%, rgba(96, 110, 121, 1) 99%);
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
}

.fixed-top {
    margin-top: 10px;
}

.site-header {
    font-size: 20px;
}

/* #hpc-h1,
#hpc-h3 {
    color: #107A7A;
}

#hpc-h2 {
    color: #606E79;
}

#hpc-h3 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
} */

.site-header .navbar-nav .nav-link {
    color: #191820;
}

.site-header .navbar-nav .nav-link:hover {
    color: #107A7A;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #107A7A;

}

#nav-style {
    background: #EBEBEA;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
}

#main-body {
    margin-top: 3rem;
    padding-top: 1rem;
    background: #EBEBEA;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
}

.content-section {
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.69);
}

#sidebar-style .list-group-item-light {

    background-color: #606E79;
    color: #EBEBEA;
}