@import url('https://fonts.googleapis.com/css?family=Lato|News+Cycle|Oswald&display=swap');

body {
    font-family: 'Lato', sans-serif;
    color: #18181F;
    background: rgb(235, 233, 233);
    background: radial-gradient(circle, rgba(235, 233, 233, 1) 1%, rgba(0, 110, 148, 1) 48%, rgba(56, 89, 139, 1) 90%);
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'News Cycle', sans-serif;
    text-transform: uppercase;
}


/* -----------------------------------------------------------Header--------------------------------------------------------*/

.hvr-underline-from-center::before {
    background-color: #73BFB8;
}


.site-header {
    font-size: 20px;
}

a.cart {
    padding-top: 5px;
    color: #006E94;
}

a.cart:hover {
    color: #73BFB8;
}

.cart .badge-warning {
    color: #EBE9E9;
    background-color: #38598B;
}

.site-header .navbar-nav .nav-link {
    color: #18181F;
}

.site-header .navbar-nav .nav-link:hover {
    color: #006E94;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
    color: #006E94;
}

#nav-style,
.sidebar-section {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
}

#nav-style {
    background: #EBE9E9;
    border: none;
    border-radius: 10px;
}

@media (min-width: 576px) {
    #nav-style {
        height: 75px;
    }
}

.navbar-dark .navbar-toggler-icon {
    background-image: none;
}

.fa-bars {
    color: #006E94;
}

.site-header .navbar-nav .nav-link {
    color: #EBE9E9;
    background-color: #006E94;
}

@media (min-width: 992px) {
    .site-header .navbar-nav .nav-link {
        color: #73BFB8;
        background-color: #EBE9E9;
        font-size: 19px;
    }
}

@media (min-width: 1200px) {
    .site-header .navbar-nav .nav-link {
        font-size: 25px;
    }
}

#hpc1,
#hpc2,
#hpc3 {
    color: #006E94;
    font-size: 13px;
}

#hpc2 {
    color: #73BFB8;
}

@media (min-width: 576px) {

    #hpc1,
    #hpc2,
    #hpc3 {
        font-size: 28px;
    }
}

@media (min-width: 768px) {

    #hpc1,
    #hpc2,
    #hpc3 {
        font-size: 25px;
    }
}

@media (min-width: 992px) {

    #hpc1,
    #hpc2,
    #hpc3 {
        font-size: 25px;
        padding-top: 20px;
    }
}

.navbar-brand img {
    width: 40px;
    height: auto;
    margin-left: 2px;
}

@media (min-width: 576px) {
    .navbar-brand img {
        width: 70px;
        height: auto;
        margin-left: 2px;
    }
}

@media (min-width: 768px) {
    .navbar-brand img {
        width: 50px;
        height: auto;
        margin-left: 5px;
    }
}

@media (min-width: 992px) {
    .navbar-brand img {
        width: 70px;
        height: auto;
    }
}



/* ------------------------------------------------------- Main Body  --------------------------------------------------- */
#main-content {
    margin-right: 10px;
    margin-left: 10px;
}

#main-body {
    margin-top: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

#main-body h1 {
    color: #EBE9E9;
}

.sidebar-section {
    margin-top: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.sidebar-section .fab {
    font-size: 40px;
    padding: 10px;
}

@media (min-width: 576px) {
    .sml-search {
        padding-top: 15px;
    }
}

@media (min-width: 768px) {
    .sml-search {
        display: none;
    }
}

.lrg-search {
    display: none;
}

@media (min-width: 768px) {
    .lrg-search {
        display: flex;
        visibility: visible;
        min-width: 100px;
    }
}

@media (min-width: 768px) {
    .sidebar-section {
        margin-left: 0px;
    }
}

@media (min-width: 768px) {
    #sidebar-style .form-inline .form-control {
        min-width: 100px;
    }
}

@media (min-width: 992px) {
    #sidebar-style .form-inline .form-control {
        width: auto;
    }
}

#sidebar-style .list-group-item-light {
    background-color: #38598B;
    color: #EBE9E9;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

.sidebar-section a {
    text-decoration: none;
    color: #EBE9E9;
}

/* ---------------------------------------------------Profile Page-------------------------------------------------------------------------- */
.profile-img {
    height: 50px;
    width: 50px;
    margin-right: 20px;
    margin-bottom: 16px;
}

@media (min-width: 576px) {
    .profile-img {
        height: 75px;
        width: 75px;
    }
}

@media (min-width: 992px) {
    .profile-img {
        height: 100px;
        width: 100px;
    }
}

#profile-content {
    font-size: 16px;
    background-color: #EBE9E9;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

@media (min-width: 576px) {
    #profile-content {
        font-size: 20px;
    }
}

#profile-content h2 {
    font-size: 20px;
    color: #38598B;
}

@media (min-width: 768px) {
    #profile-content h2 {
        font-size: 25px;
    }
}

/* -----------------------------------------------------Style Events ------------------------------------------------------------ */
.events-row {
    background-color: #38598B;
    border-radius: 10px;
}

@media (min-width: 576px) {
    .events-row {
        flex-wrap: nowrap;
    }
}

@media (min-width: 692px) {
    .events-row {
        flex-wrap: wrap;
    }
}

.date-group {
    width: auto;
    text-align: center;
    height: 187px;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    -moz-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
}

@media (min-width: 576px) {
    .date-group {
        min-width: 125px;
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media (min-width: 692px) {
    .date-group {
        min-width: 100px;
        padding-left: 1px;
        padding-right: 15px;
    }
}

@media (min-width: 692px) {
    .date-group {
        min-width: 125px;
        padding-left: 1px;
        padding-right: 15px;
    }
}

.dategroup-style,
.eventgroup-style {
    padding: 1px;
    border-radius: 10px;
    border: #38598B 1px solid;
}

.list-group-item {
    border: none;
}

.month-style {
    background-color: #73BFB8;
    vertical-align: middle;
    font-size: 20px;
    letter-spacing: .2em;
    padding: .2em;
    text-transform: uppercase;
    color: #EBE9E9;
}

.date-style {
    font-size: 35px;
    padding: 1px;
}

.day-style {
    font-size: 20px;
    padding: 1px;
}

.event-info {
    text-align: left;
    padding: 0 20 0 20;
}

@media (min-width: 576px) {
    .event-info {
        min-width: 400px;
    }
}

@media (min-width: 992px) {
    .event-info {
        min-width: 550px;
    }
}

@media (min-width: 1200px) {
    .event-info {
        min-width: 750px;
    }
}


.card-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    padding: 5px;
}

.card-text {
    padding: 5px;
}

.event-info {
    padding-left: 0;
    padding-right: 0;
}

.event-expand {
    background-color: #73BFB8;
}

.more-info {
    font-size: 18px;
}

.btn-outline-info {
    color: #EBE9E9;
    border-color: #EBE9E9;
}

.btn-success {
    background-color: #38598B;
    color: #EBE9E9;
    border-color: #006E94;
}

.btn-success:hover {
    background-color: #006E94;
    color: #EBE9E9;
}

/*------------------------------------------------------Home Page------------------------------------------------------------------------ */


.word-wrap,
.word-wrap-2 {
    font-size: 25px;
}

@media (min-width: 692px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 20px;
    }
}

@media (min-width: 768px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 25px;
    }
}

@media (min-width: 992px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 30px;
    }
}

@media (min-width: 1140px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 35px;
    }
}

@media (min-width: 1350px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 40px;
    }
}

@media (min-width: 1600px) {

    .word-wrap,
    .word-wrap-2 {
        font-size: 45px;
    }
}

.word-wrap-2 {
    background-color: #73BFB8;
}

.hp-text,
.hp-text-other,
.hp-text2,
.hp-text2-other {
    background-color: #38598B;
    color: #EBE9E9;
    text-align: center;
    border-radius: 20px;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
}

.hp-text2,
.hp-text2-other {
    background-color: #73BFB8;
}

@media (min-width: 692px) {

    .hp-text-other,
    .hp-text2-other {
        margin-left: 100px;
    }
}

@media (min-width: 768px) {

    .hp-text-other,
    .hp-text2-other {
        margin-left: 130px;
    }
}

@media (min-width: 1140px) {

    .hp-text-other,
    .hp-text2-other {
        margin-left: 150px;
    }
}

@media (min-width: 1350px) {

    .hp-text-other,
    .hp-text2-other {
        margin-left: 100px;
    }
}

@media (min-width: 1140px) {

    .hp-text,
    .hp-text2 {
        margin-left: 20px;
    }
}

@media (min-width: 768px) {

    #puzzle-text,
    #family-text {
        font-size: 20px;
    }
}

@media (min-width: 768px) {

    #puzzle-text,
    #family-text {
        font-size: 25px;
    }
}

@media (min-width: 1350px) {

    #puzzle-text,
    #family-text {
        font-size: 30px;
    }
}

@media (min-width: 1600px) {

    #puzzle-text,
    #family-text {
        font-size: 35px;
    }
}

.hp-img {
    max-width: 280px;
    max-height: 250px;
    border-radius: 20px;
    margin: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
}

@media (min-width: 692px) {
    .hp-img {
        max-width: 230px;
    }
}

@media (min-width: 768px) {
    .hp-img {
        max-width: 255px;
    }
}

@media (min-width: 992px) {
    .hp-img {
        max-width: 300px;
    }
}

@media (min-width: 1140px) {
    .hp-img {
        max-width: 375px;
    }
}

@media (min-width: 1350px) {
    .hp-img {
        max-width: 450px;
    }
}

@media (min-width: 1600px) {
    .hp-img {
        max-width: 600px;
        height: auto;
    }
}

.img-style {
    text-align: center;
}

/*------------------------------------------------------About Page & Courses Accordion------------------------------------------------------------------------ */
#accordionAbout,
#accordionExperience {
    text-decoration: none;
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    -moz-box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
    box-shadow: 10px 10px 5px 0px rgba(25, 24, 32, 0.32);
}

#accordionAbout h2 {
    font-size: 25px;
}

#accordionAbout p,
#accordionExperience p {
    font-size: 15px;
}

@media (min-width: 576px) {
    #accordionAbout p {
        font-size: 20px;
    }
}

#accordionAbout .card-body,
#accordionExperience .card-body {
    background-color: #006E94;
    color: #EBE9E9;
    font-size: 15px;
}

@media (min-width: 576px) {
    #accordionExperience .card-body {
        font-size: 20px;
    }
}

#accordionAbout .btn-link,
#accordionExperience .btn-link {
    color: #006E94;
}

.about-img {
    max-width: 300px;
    float: left;
    margin-right: 10px;
}

/*------------------------------------------------------ Courses --------------------------------------------------------------------------- */

.experience {
    background-color: #006E94;
    color: #EBE9E9;
    padding: 10px;
}

.experience b {
    color: #18181F;
}

@media (min-width: 576px) {
    .experience p {
        font-size: 20px;
    }
}

@media (min-width: 576px) {
    .experience li {
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    #accordionExperience h5 {
        font-size: 25px;
    }
}

/* ----------------------------------------------------Cart ---------------------------------------------------------------------------------*/
.panel-display {
    padding: 15px;
    border: 1px solid;
    margin: 10px;
    border-radius: 10px;
    background-color: #38598B;
    color: #EBE9E9;
    border-color: #EBE9E9;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    -moz-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
}

.btn-primary {
    color: #EBE9E9;
    background-color: #006E94;
    border-color: #006E94;
    border-color: #EBE9E9;
}

.btn-primary:hover {
    color: #006E94;
    background-color: #EBE9E9;
    border-color: #006E94;
    border-color: #EBE9E9;
}

.btn-info {
    color: #EBE9E9;
    background-color: #73BFB8;
    border-color: #73BFB8;
}

.tally-box {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    text-indent: 1em;
    padding: 5px;
}

.tally-box p {
    color: #EBE9E9;
}

#checkout-btn {
    margin-left: 15px;
    text-indent: 0;
    padding: 5px;
    font-size: 20px;
    background-color: #38598B;
    border-color: #006E94;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    -moz-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
}

#checkout-btn:hover {
    background-color: #73BFB8;
    border-color: #006E94;
    color: #EBE9E9;
}

/*----------------------------------------------------------------------Checkout-------------------------------------*/
.form-check-label {
    font-size: 20px;
}

#book-det {
    color: #EBE9E9;
}

.btn-book {
    font-size: 20px;
    background-color: #38598B;
    color: #EBE9E9;
    border-color: #EBE9E9;
    -webkit-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    -moz-box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
    box-shadow: 9px 2px 5px 0px rgba(235, 233, 233, 0.53);
}

.alert-error {
    background-color: #EBE9E9;
    color: #006E94;
}

/*---------------------------------------------------------------------Form Styling-------------------------------*/
.form-style {
    background-color: #EBE9E9;
    border-radius: 10px;
    padding: 10px;
}

/* --------------------------------------------------------------Info-block containers---------------------------------*/
.info-block {
    background-color: #38598B;
    color: #EBE9E9;
    border-radius: 15px;
    padding: 15px;
}

.info-block a {
    color: #73BFB8;
}

@media (min-width: 576px) {
    .info-block a {
        font-size: 15px;
    }
}

@media (min-width: 576px) {
    .info-block a {
        font-size: 18px;
    }
}