{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}{{ user.username}}'s Profile{% endblock %}
{% block content %}
<div id='profile-content'>
   <div class="media">
      <img class="rounded-circle profile-img" src="{{ user.profile.image.url }}" alt='profile picture'>
      <div class="media-body">
         <h2 class="account-heading">{{ user.username }}'s Profile</h2>
         <p class="text-secondary"><b>Name:</b> {{ user.first_name }} {{ user.last_name }}</p>
         <p class="text-secondary"><b>Registered email:</b> {{ user.email }}</p>
         <p class="text-secondary"><b>Testimonial:</b></p>
         <p>{{ user.profile.testimonial }}</p>
      </div>
      <div class="align-right">
         <a class="btn btn-info" href="{% url 'profile-update' %}">Update My Profile</a>
      </div>
   </div>

</div>
{% endblock content %}